<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>G-keep analogue</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <h3>Здесь все ваши заметки:</h3>
  <div class="list-group my-list-style" *ngFor="let note of notes">
    <li class="list-group-item list-group-item-action flex-column align-items-start my-li-style">
      <div data-toggle="modal" data-target="#modalUpdating" (click)="fillForm(note)">
        <h3>{{note.title}}</h3>
        <pre class="note-text">{{note.text}}</pre>
      </div>
      <div align="right">
        <button class="trashcan-btn" (click)="deleteNote(note.id)">
          <img class="trashcan-img" src="https://cdn.icon-icons.com/icons2/692/PNG/512/seo-social-web-network-internet_262_icon-icons.com_61518.png">
        </button>
      </div>
    </li>
    <div class="modal fade" id="modalUpdating" tabindex="-1" role="dialog"
         aria-labelledby="modalUpdatingTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form name="form" role="form" novalidate [formGroup]="form">
            <input hidden value="{{note.id}}" formControlName="id">
            <div class="modal-header">
              <textarea class="form-control" rows="1" name="text" formControlName="title"></textarea>
            </div>
            <div class="modal-body">
              <textarea class="form-control" rows="3" name="text" formControlName="text"
                        required=""></textarea>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" (click)='update()' data-dismiss="modal">Сохранить</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <button type="button" class="btn btn-primary my-add-button rounded-circle" (click)="fillForm(null)" data-toggle="modal"
            data-target="#modalCreating">+</button>
    <div class="modal fade" id="modalCreating" tabindex="-1" role="dialog"
         aria-labelledby="modalCreatingTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form name="createform" role="form" [formGroup]="form">
            <input hidden value="{{null}}" formControlName="id">
            <div class="modal-header">
              <textarea class="form-control" rows="1" name="text" formControlName="title"
                        placeholder="Введите заголовок"></textarea>
            </div>
            <div class="modal-body">
              <textarea class="form-control" rows="3" name="text" formControlName="text"
                        placeholder="Текст заметки"></textarea>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" (click)="saveNote()" data-dismiss="modal">Создать</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
</div>
